*{
    padding: 0;
    margin: 0;
    color: #a1a8af;
}

i{
    color: #a1a8af;
}

.container{
    background-color: #040405;
    width: 100%;
    height: 100vh;
    background-image: url("https://transparenttextures.com/patterns/45-degree-fabric-dark.png");
    
}

header{
    width: 100%;
    height: 10%;
    color: white;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header p{
    display: inline-block;
}

.menu-dropdown{
    position: absolute;
    right: 2%;
}


footer{
    width: 100%;
    height:15%;
    position: absolute;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Slides */

.slide{
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide-control{
    width: 15%;
}

.slide-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 /* Main slide Content  */

 .center-circle{
    border-radius: 100%;
    height: 100%;
    width: 40%;
    border: 1px solid #383c42;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #a1a8af;
    border-top: #383c42;
    border-bottom: #383c42;
 }

 .greeting-part{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }

 .skills-part{
    list-style: none;
    width: 30%;
 }

 .greeting-text{
    
    font-size: 15vmin;
    font-weight: bold;
    color: #f1f5f7;
 }
 
 .greeting-list{
    text-align: right;
    
    
    list-style: none;
 }

 .skills-list{
    list-style: none;
    position: relative;
    left: 10%;
 }
 
 .skills-list li{
    padding: 1.2%;
    font-size: 1rem;
    color: #a1a8af;
 }

 .bottom-nav{
    list-style: none;
    display: flex;
    width: 15%;
    justify-content: space-between;
 }

 .bottom-nav li{
    width: 30%;
 }

 .email{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .contact-icons-section{
    width: 15%;
    text-align: right;
 }

 .contact-icons{
    width: 15%;
    list-style:none;
    display: flex;
    justify-content: space-evenly;
 }
 
 .profile-img{
    height: 50%;
    width: 50%;
    border-radius: 100%;
    box-shadow: 5px 1px 150px rgb(167, 163, 163);

 }

 .profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 80%;
    filter: grayscale(15%);
    border-radius: 100%;
 }